*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 6vw);
    grid-template-rows: 10vw 3vw 3vw 10vw 10vw;
    gap: 0.5vw;
    cursor: pointer;
    justify-content: center;
    padding-top: 1vw;
    font-size: 100%;
}

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    border-radius:  .5rem;
    color: white;
    user-select: none;
    
}

.computer-score {
    grid-column: span 7;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 3vw;
    color: green;
    
}

.player-score {
    grid-column: span 7;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 3vw;
}

.empty {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  0.7vw;
    color: white;
    user-select: none;    
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
}

.card.red {
    color: red;
}

.card.black {
    color: black;
}

.card::before, .card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1.5vw;
}

.card::before {
    top: 0.5vw;
    left: 0.5vw;
}

.card::after {
    bottom: 0.5vw;
    right: .5vw;
    transform: rotate(180deg);
}